#whole {
  max-width:1366px ;
  max-height:768px;
}
#Titeltext {
  padding: 15px 0;
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: Sand;
}
#Image {
  float: left;
}
#Titel{
  height: 80px;
}
#InfoQuit{
  position: relative;
  right: 0px;
  padding: 10px 0;
  float: right;
  font-size: 15px;
  color: black;
  display:inline;
  width: 250px;
  max-height: 80px ;
  overflow: hidden;
}
#Info{
  position: absolute;
  left: 45px;
}
#Quit{
  position: absolute;
  right: 45px;
}
