<div id="Titel">

  <div id="Image">
    <img src="/assets/Images/Buttaaflii.png" alt="some_text" style="width:178px;height:100px;">
  </div>
  <div id="Titeltext">
    LOBBY  &nbsp;  &nbsp;
    <!--<audio autoplay loop="loop" controls>
      <source src="/assets/musik/Backmusic.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    -->

    <div id="InfoQuit">
      <button id="Info" class="btn-basic" [routerLink]="['/info']" style="float: left">INFO</button>  <button id="Quit" class="btn-basic" (click)="logout()" style="float: right">QUIT</button> <br><br>
      logged in as {{currentUser}}

    </div>
  </div>


</div>
