#whole {
  max-width:1366px ;
  max-height:768px;
}

#Image {
  float: left;
}
#Titel{
  height: 80px;
  width: 150px;
}
#InfoQuit{
  padding: 10px 5px;
  float: left;
  font-size: 15px;
  color: black;
}
