<div class="ship-wrapper" *ngIf="!reorderMode && !HammerMode">
  <img src="{{picloc}}" alt="Ship {{size}}er">
  <ng-container *ngIf="!isDocked">
    <div class="stones fields{{size}}">
      <div *ngFor="let stone of stones; let i = index;" class="ship-stone" id="stone-{{shipIndex}}-{{i}}" [dragula]='"second-bag"'
           [@shipStoneState]="shipStoneState" [ngClass]="{'drop-border': (stone === 'BLANK') && showBorder}">
        <ng-container *ngIf="game.gameBoard.availableShips[shipIndex].stones[i] !== 'BLANK'">
          <app-stone [stoneColor]="game.gameBoard.availableShips[shipIndex].stones[i]"></app-stone>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<div class="ship-wrapper inline-block" *ngIf="reorderMode">
  <img src="{{picloc}}" alt="Ship {{size}}er">
  <div class="stones fields{{size}}">
    <div *ngFor="let stone of stones; let i = index;" class="ship-stone" id="stone-{{shipIndex}}-{{i}}" (click)="addReordered(i)">
      <ng-container *ngIf="game.gameBoard.availableShips[shipIndex].stones[i] !== 'BLANK'">
        <app-stone [stoneColor]="game.gameBoard.availableShips[shipIndex].stones[i]"></app-stone>
      </ng-container>
    </div>
  </div>
</div>

<div class="ship-wrapper inline-block" *ngIf="reorderMode">
  <img src="{{picloc}}" alt="Ship {{size}}er">
  <div class="stones fields{{size}}">
    <div *ngFor="let stone of reordered; let i = index;" class="ship-stone" id="stone-{{shipIndex}}-{{i}}">
      <app-stone [stoneColor]="stoneColorsIndexed[reordered[i]]"></app-stone>
    </div>
  </div>
</div>

<div class="ship-wrapper" *ngIf="HammerMode">
  <img src="{{picloc}}" alt="Ship {{size}}er">
  <ng-container *ngIf="!isDocked">
    <div class="stones fields{{size}}">
      <div *ngFor="let stone of stones; let i = index;" class="ship-stone" id="stone-{{shipIndex}}-{{i}}" [dragula]='"Hammer-bag"'>
        <ng-container *ngIf="game.gameBoard.availableShips[shipIndex].stones[i] !== 'BLANK'">
          <app-stone [stoneColor]="game.gameBoard.availableShips[shipIndex].stones[i]"></app-stone>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
