#Pyramid {
  position: relative;
}
.PyramidLevel1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  position: absolute;
  top: 32px;
  left: 242px;
  width: 135px;
  height: 135px;
}
.PyramidLevel2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  position: absolute;
  top: 55px;
  left: 265px;
  width: 90px;
  height: 90px;
}
.PyramidStone {
  width:45px;
  height:45px;
}

#PyramidLevel3Stone1{
  position: absolute;
  left: 287px;
  top: 78px;
}

