<div id="Pyramid" class="site">
  <div id="PyramidDock" class="Dockleft" *ngIf="pyramidSite.dockedShip !== null">
      <app-ship class="shipsize1" [stones]="pyramidSite.dockedShip.stones" [game]="game" [isDocked]="true"></app-ship>
  </div>

  <div id="PyramidDock" class="Dockleft" [dragula]='"first-bag"' *ngIf="pyramidSite.dockedShip === null && dockOpen"></div>

  <img src="/assets/Images/Site_boards/Pyramids.png" alt="Pyramid">

  <!--First Level-->
  <div id="PyramidLevel1" class="PyramidLevel1">
    <div  *ngFor="let stone of pyramidSite.stones; let i = index;" id="PyramidLevel1Stone{{i+1}}" class="PyramidStone">
      <ng-container *ngIf="i < 9">
        <app-stone [stoneColor]="stone"></app-stone>
      </ng-container>
    </div>
  </div>

  <!--Second Level-->
  <div id="PyramidLevel2" class="PyramidLevel2">
    <div *ngFor="let stone of pyramidSite.stones; let i = index;" id="PyramidLevel2Stone{{i+9}}" class="PyramidStone">
      <ng-container *ngIf="i >= 0 && i < 4">
        <app-stone [stoneColor]="pyramidSite.stones[i+9]"></app-stone>
      </ng-container>
    </div>
  </div>

  <!--Third Level-->
  <div *ngFor="let stone of pyramidSite.stones; let i = index;" id="PyramidLevel3Stone1" class="PyramidStone">
    <ng-container >
      <app-stone [stoneColor]="pyramidSite.stones[13]"></app-stone>
    </ng-container>
  </div>
</div>
