#Pyramid {
  position: relative;
}
.PyramidLevel1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  position: absolute;
  top: 35px;
  left: 60px;
  width: 135px;
  height: 135px;
}
.PyramidLevel2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  position: absolute;
  top: 58px;
  left: 85px;
  width: 90px;
  height: 90px;
}
.PyramidStone {
  width:45px;
  height:45px;
}

#PyramidLevel3Stone1{
  position: absolute;
  left: 105px;
  top: 80px;
}
#PyramidText{
  position: absolute;
  top: 5px;
  left : 5px;
  height:173px;
  width: 567px;
  background-image: url("/assets/Images/papyrus-wallpapers.jpeg");
  color:black;
  z-index: 30;
  opacity: 0.8;
  text-align: center;
}
#PyramidText h1{
  font-size: 20px;
  font-weight: bold;
  font: "Arial Black";
}
#PyramidText p{
  font-size: 15px;
}
#info{
  position: absolute;
  top: 3px;
  right: 25px;
  width: 50px;
}

#Titel{
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 25px;
  font-weight: bold;
  widht: 100%;
  font-family: Sand;
}
.background{
  background-color: rgba(205,155,29,0.5);
  font-size: xx-large;
  color: rgba(0,0,0,1);
  text-align: center;
  width: 45px;
  height: 45px;
  border-width: thin;
  border-style: solid;
}
#PyramidLevel1bg{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  top: 35px;
  left: 60px;
  width: 135px;
  height: 135px;
}
#PyramidLevel2bg{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  top: 35px;
  left: 225px;
  width: 90px;
  height: 90px;
}
#PyramidLevel3bg{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  top: 35px;
  left: 345px;
  width: 45px;
  height: 45px;
}
#TotalStone{
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 15px;
  widht: 100%;
  font-family: Sand;

}
