<div id="Pyramid" class="site">
  <img src="/assets/Images/Site_boards/Pyramids.png" alt="Pyramid">
  <div id="PyramidLevel1" class="PyramidLevel1">
    <div id="PyramidLevel1Stone1" class="PyramidStone">
    </div>
    <div id="PyramidLevel1Stone2" class="PyramidStone">
    </div>
    <div id="PyramidLevel1Stone3" class="PyramidStone">
    </div>
    <div id="PyramidLevel1Stone4" class="PyramidStone">
    </div>
    <div id="PyramidLevel1Stone5" class="PyramidStone">
    </div>
    <div id="PyramidLevel1Stone6" class="PyramidStone">
    </div>
    <div id="PyramidLevel1Stone7" class="PyramidStone">
    </div>
    <div id="PyramidLevel1Stone8" class="PyramidStone">
    </div>
    <div id="PyramidLevel1Stone9" class="PyramidStone">
    </div>
  </div>
  <div id="PyramidLevel2" class="PyramidLevel2">
    <div id="PyramidLevel2Stone1" class="PyramidStone">
    </div>
    <div id="PyramidLevel2Stone2" class="PyramidStone">
    </div>
    <div id="PyramidLevel2Stone3" class="PyramidStone">
    </div>
    <div id="PyramidLevel2Stone4" class="PyramidStone">
    </div>
  </div>
  <div id="PyramidLevel3Stone1" class="PyramidStone">
  </div>




</div>
