<div id="main">
<app-lobbyheader></app-lobbyheader>


<div id="lobby" *ngIf="!gameId">
  <button class="btn-basic" (click)="createGameModal.open()">+</button>
  <modal #createGameModal>
    <modal-header>
      <h3 style="text-align: center">Create new Game</h3>
    </modal-header>
    <modal-content>
      <form [formGroup]="createGameForm" (submit)="createGame()" style="text-align: center ;width: 280px;margin-left: auto; margin-right: auto;">
        <label for="name" style="text-align: center">Game Name</label>
        <input id="name" autofocus="autofocus"name="name" formControlName="name" type="text">

        <br>
        <br>
        <input id="2-players" formControlName="playerCountSetting" name="playerCountSetting" type="radio" value="2">
        <label for="2-players"> 2 Players &nbsp;</label>
        <input id="3-players" formControlName="playerCountSetting" name="playerCountSetting" type="radio" value="3">
        <label for="3-players"> 3 Players&nbsp; </label>
        <input id="4-players" formControlName="playerCountSetting" name="playerCountSetting" type="radio" value="4">
        <label for="4-players"> 4 Players&nbsp; </label>
        <br>
        <br>
        <button class="btn-basic center full-width" (click)="createGameModal.close()">Save Settings</button>
      </form>
    </modal-content>
  </modal>

  <table class="table selectable">
    <tr>
      <th>Status</th>
      <th>Game Name</th>
      <th>Players</th>
    </tr>
    <ng-container *ngFor="let game of games">
      <tr (dblclick)="addPlayer(game)" *ngIf="isInGame(game)" class="current">
        <td>{{game.status}}</td>
        <td>{{game.name}}</td>
        <td>{{game.players.length}}/{{game.playerCountSetting}}</td>
      </tr>
      <tr (dblclick)="addPlayer(game)" *ngIf="!isInGame(game)">
        <td>{{game.status}}</td>
        <td>{{game.name}}</td>
        <td>{{game.players.length}}/{{game.playerCountSetting}}</td>
      </tr>
    </ng-container>
  </table>
</div>

</div>


