<div id="main">
<app-lobbyheader></app-lobbyheader>


<div id="lobby" *ngIf="!gameId">
  <button id="createGameBtn"class="btn-basic" (click)="createGameModal.open()" data-toggle="tooltip" data-placement="bottom" title="Create new game">+</button>
  <modal #createGameModal>
    <modal-header>
      <h3 class="text-center">Create new Game</h3>
    </modal-header>
    <modal-content>
      <form [formGroup]="createGameForm" (submit)="createGame()" class="center">

        <div class="group center">
          <input id="name" name="name" formControlName="name" type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="name" class="center">Game Name</label>
        </div>
        <br>


        <div id="player-count" class="center">
          <label for="2-players" class="radio">
            <input id="2-players" formControlName="playerCountSetting" name="playerCountSetting" type="radio" value="2">
            <span class="outer"><span class="inner"></span></span>
            2 Players
          </label>

          <label for="3-players" class="radio">
            <input id="3-players" formControlName="playerCountSetting" name="playerCountSetting" type="radio" value="3">
            <span class="outer"><span class="inner"></span></span>
            3 Players
          </label>

          <label for="4-players" class="radio">
            <input id="4-players" formControlName="playerCountSetting" name="playerCountSetting" type="radio" value="4">
            <span class="outer"><span class="inner"></span></span>
            4 Players
          </label>
        </div>

        <button class="btn-basic center" (click)="createGameModal.close()">Save Settings</button>
      </form>
    </modal-content>
  </modal>

  <table class="table selectable">
    <tr id="tableHeader">
      <th>Status</th>
      <th>Game Name</th>
      <th>Players</th>
    </tr>
    <ng-container *ngFor="let game of games">
      <tr (dblclick)="addPlayer(game)" *ngIf="isInGame(game)" class="current">
        <td>{{game.status}}</td>
        <td>{{game.name}}</td>
        <td>{{game.players.length}}/{{game.playerCountSetting}}</td>
      </tr>
      <tr (dblclick)="addPlayer(game)" *ngIf="!isInGame(game)">
        <td>{{game.status}}</td>
        <td>{{game.name}}</td>
        <td>{{game.players.length}}/{{game.playerCountSetting}}</td>
      </tr>
    </ng-container>
  </table>
</div>


</div>


