<div id="whole">

<div id="Titel">

  <div id="Image">
    <img src="https://imothep-4bb36.firebaseapp.com/assets/Images/Imhotep-Featured.jpg" alt="some_text" style="width:200px;height:80px;">
  </div>

  <div id="Titeltext">
    Online | Lobby
    <div id="InfoQuit">
      <a [routerLink]="['/info']">Info</a> | <a [routerLink]="['/login']">Quit</a> <br>
      logged in as
    </div>
  </div>


</div>



<div id="lobby" class="row">
  <div class="col-md-5">
    <table class="table selectable">
      <tr>
        <th>Status</th>
        <th>Game Name</th>
        <th>Players</th>
      </tr>
      <tr *ngFor="let game of games" (click)="selectGame(game)">
        <td>{{game.status}}</td>
        <td>{{game.name}}</td>
        <td>{{game.players.length}}/{{game.playerCountSetting}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <div id="join-game">
      <h3 *ngIf="selectedGame">{{selectedGame.name}}</h3>
      <h3 *ngIf="!selectedGame">No Game Selected</h3>
      <button class="btn btn-sm btn-primary btn-block">Join Game</button>
    </div>
    <div id="game-settings">
      <h3>Settings</h3>

      <form [formGroup]="createGameForm" (submit)="createGame()">

        <label for="name">Game Name</label>
        <input id="name" name="name" formControlName="name" type="text">

        <br>
        <input id="2-players" formControlName="playerCountSettings" name="playerCountSettings" type="radio" value="2">
        <label for="2-players"> 2 Players &nbsp;</label>
        <input id="3-players" formControlName="playerCountSettings" name="playerCountSettings" type="radio" value="3">
        <label for="3-players"> 3 Players&nbsp; </label>
        <input id="4-players" formControlName="playerCountSettings" name="playerCountSettings" type="radio" value="2">
        <label for="4-players"> 4 Players&nbsp; </label>
        <button class="btn btn-sm btn-primary btn-block">Save Settings</button>
      </form>



    </div>
    <div id="current-game">
      <h3>Start Game</h3>
      <table *ngIf="selectedGame" class="table">
        <tr>
          <th>Players</th>
        </tr>
        <tr *ngFor="let player of selectedGame.players">
          <td>{{player.name}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <table class="table">
      <tr>
        <th>People In Lobby</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.name}} {{user.username}}</td>
      </tr>
    </table>
  </div>
</div>
</div>
