#whole {
  width:1360px ; height:760px;
  background-image: url("/assets/Images/Hintergrundlres.jpg");
  background-position: left;
  background-repeat: no-repeat;
  color: whitesmoke;
}

#skarabeus-background{
  width: 400px;
  height: 250px;
  position: relative;
  /*background-image: url("/assets/Images/Buttaaflii.png");*/
  /*background-size: contain;*/
  /*background-position: bottom;*/
  /*background-repeat: no-repeat;*/
  margin: 10px auto;
}

#skarabeus-background img {
  width: 100%;
  position: absolute;
}

#skarabeus-animation {
  position: absolute;
  height: 110px;
  width: 45px;
  top: 83px;
  right: 0;
  left: 0;
  animation: glow 2s infinite alternate;
  border-radius: 10px;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 50px 3px #ffe169;
    opacity: 0.5;
  }
  to {
    box-shadow:0 0 250px 5px #ffe169;
    opacity: 1;
  }
}

@-moz-keyframes glow {
  from {
    box-shadow: 0 0 50px 3px #ffe169;
    opacity: 0.5;
  }
  to {
    box-shadow:0 0 250px 5px #ffe169;
    opacity: 1;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 50px 3px #ffe169;
    opacity: 0.5;
  }
  to {
    box-shadow:0 0 250px 5px #ffe169;
    opacity: 1;
  }
}

#error_message{
  color: whitesmoke;
  text-align: center;
}

a{
  color: red;
}

h1{
  margin: 0px;
  padding-top: 150px;
  text-align: center;
  color: whitesmoke;
}
h2{
  text-align: center;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 400px;
  padding: 0px 15px;
  margin: 0px auto;
}

.form-signin input {
  border-radius: 0;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
  border-color: #5B86A9;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control{
  text-align: center;
}

.group {
  width: 300px;
  margin-top: 30px;
}

.group input,
.group label {
  color: #ffe169;
}
.group input:focus ~ label,
.group input:valid ~ label {

}

.group .bar:before, .bar:after {
  background: #ffe169;
}

/* active state */
.group input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:transparent; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:transparent; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:transparent; }
  to 	{ width:0; background:transparent; }
}
