app-statsboard {
  width: 150px;
  height: 688px;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #449d44;
}

app-playingfield {
  width: 1216px;
  height: 768px;
  position: absolute;
  top: 0px;
  left: 150px;
  background-image: url("/assets/Images/HintergrundbildWasser.jpg");
}

#whole{
  position: relative;
}

