<div id="whole">
  <app-header></app-header>
  <button *ngIf="!Music.muted" class="btn-basic" (click)="toggleAudio()" style="position: absolute; top: -800px; left:0px; z-index: 30; font-size: 12px ">Mute</button>
  <button *ngIf="Music.muted"  class="btn-basic" (click)="toggleAudio()" style="position: absolute; top: -800px; left:0px; z-index: 30; font-size: 12px ">Unmute</button>
  <app-playingfield [game]="game" [timerPercentage]="timerPercentage"></app-playingfield>
  <app-statsboard [game]="game"></app-statsboard>
  <ng2-toasty class="text-center center bg-white"></ng2-toasty>
  <div id="historyBtn">
  <button id="history" class="btn-basic inline text-center position1" (click)="toggleSidebar()"
          tooltip="Show game history"
          [tooltipDisabled]="false"
          [tooltipAnimation]="true"
          tooltipPlacement="bottom">
    <img src="/assets/Images/icons/ic_history_black_24px.svg" alt="History Log" height="70px" >
  </button>
  </div>
  <ng-sidebar-container id="sideBar" style="z-index: 40">
    <ng-sidebar #sidebar [(opened)]="_opened" style="z-index: 40" [closeOnClickOutside]="true">
      <app-history-log [game]="game">
      </app-history-log>
    </ng-sidebar>
  </ng-sidebar-container>
</div>

<modal #rankingModal>
  <modal-header>
  <h1 id="header1">Final Ranking</h1>
</modal-header>
  <modal-content>
    <p id="r1" >Rank 1: {{rank1}}
      <img src="/assets/Images/icons/medal21600.png"alt="Medal" height="24px">
    </p>
    <p id="r2">Rank 2: {{rank2}}</p>
    <p id="r3" *ngIf="game && game.playerCountSetting > 2">Rank 3: {{rank3}}</p>
    <p id="r4" *ngIf="game && game.playerCountSetting > 3">Rank 4: {{rank4}}</p>
    <a class="btn-basic inline" (click)="restartGame()">Restart</a>
    <a class="btn-basic inline" (click)="leaveGame()">Leave</a>
  </modal-content>
  <modal-footer>

  </modal-footer>
</modal>

