app-statsboard {
  position: absolute;
  top: 492px;
  left: 0;
  display: flex;
  width: 350px;
  flex-wrap: wrap;
}

app-playingfield {
  width: 1366px;
  height: 768px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("/assets/Images/HintergrundbildWasser.jpg");
}

#whole{
  position: relative;
}
app-header{
  width: 100x;
  height: 80px;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 30;
}


