<!DOCTYPE html>
<html>
<body>
<!--
<div class="game" style="height:700px;width:1200px">
  <span class="boardleft"><img src="/assets/Images/Site_boards/Pyramids.png" alt="Pyramid" style="float:left;width:450px;">
                      <img src="/assets/Images/Site_boards/Market.png" alt="Market" style="float:left;width:450px;">
 </span>
  <span class="boardright"> <img src="/assets/Images/Site_boards/Temple.png" alt="Temple" style="float:right;width:450px;">
                            <img src="/assets/Images/Site_boards/Burial_Chamber.png" alt="BurialChamber" style="float:right;width:450px;">
                            <img src="/assets/Images/Site_boards/Obelisks.png" alt="Obelisk" style="float:right;width:450px;">

 </span>
</div>
-->

</body>
</html>



<!-- Old Stuff



><img src="/src/assets/Images/water.gif" alt="water"

<p>


  Users from secure api end point:
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">{{user.name}} {{user.username}}</li>
  </ul>
</div>
  <button class="btn btn-sm btn-primary btn-block" type="submit" [routerLink]="['/lobby']">Lobby</button>
  <button class="btn btn-sm btn-primary btn-block" type="submit" [routerLink]="['/login']">Logout</button>

<img src="/src/assets/Images/siteBoard/Pyramids.png" alt="Pyramid" style="float:left;width:250px;">
  <img src="/src/assets/Images/siteBoard/Market.png" alt="Market" style="float:left;width:250px;">
  <img src="/src/assets/Images/siteBoard/Temple.png" alt="Temple" style="float:right;width:250px;">
  <img src="/src/assets/Images/siteBoard/Burial_Chamber.png" alt="BurialChamber" style="float:right;width:250px;">
  <img src="/src/assets/Images/siteBoard/Obelisks.png" alt="Obelisk" style="float:right;width:250px;">
</p>
<!--
<ul>
  <li><a href="Pyramids.png"><img src=/src/assets/Images/siteBoard/Pyramids.png" alt="Pyramid" /></a>
    <br />Image 1</li>
  <li><a href="Market.png"><img src="/src/assets/Images/siteBoard/Market.png" alt="Market" /></a>
    <br />Image 2</li>
</ul>
-->




