<!DOCTYPE html>
<html>
<body>
<div id="whole">
  <div id="Header">
    <app-header></app-header>
  </div>
  <div id="Playingfield">
    <app-playingfield></app-playingfield>
  </div>
  <div id="Statsboard">
    <app-statsboard></app-statsboard>
  </div>
</div>
</body>
</html>



<!-- Old Stuff



><img src="/src/assets/Images/water.gif" alt="water"

<p>


  Users from secure api end point:
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">{{user.name}} {{user.username}}</li>
  </ul>
</div>
  <button class="btn btn-sm btn-primary btn-block" type="submit" [routerLink]="['/lobby']">Lobby</button>
  <button class="btn btn-sm btn-primary btn-block" type="submit" [routerLink]="['/login']">Logout</button>

<img src="/src/assets/Images/siteBoard/Pyramids.png" alt="Pyramid" style="float:left;width:250px;">
  <img src="/src/assets/Images/siteBoard/Market.png" alt="Market" style="float:left;width:250px;">
  <img src="/src/assets/Images/siteBoard/Temple.png" alt="Temple" style="float:right;width:250px;">
  <img src="/src/assets/Images/siteBoard/Burial_Chamber.png" alt="BurialChamber" style="float:right;width:250px;">
  <img src="/src/assets/Images/siteBoard/Obelisks.png" alt="Obelisk" style="float:right;width:250px;">
</p>
<!--
<ul>
  <li><a href="Pyramids.png"><img src=/src/assets/Images/siteBoard/Pyramids.png" alt="Pyramid" /></a>
    <br />Image 1</li>
  <li><a href="Market.png"><img src="/src/assets/Images/siteBoard/Market.png" alt="Market" /></a>
    <br />Image 2</li>
</ul>
-->




