#Burial_Chamber {
  position: relative;
}

#BurialField{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  top: 30px;
  right: 15px;
  width: 360px;
  height: 135px;
}

.BurialFieldStone {
  width: 45px;
  height: 45px;
}
