<div id="Burial_Chamber" class="site">
  <img src="/assets/Images/Site_boards/Burial_Chamber.png " alt="Burial_Chamber">
  <div id="BurialField" class="BurialField">
    <div id="BurialFieldColumn1" class="BurialFieldColumn">
      <div class="BurialFieldStoneTop">
      </div>
      <div  class="BurialFieldStoneMiddle">
      </div>
      <div class="BurialFieldStoneBottom">
      </div>
    </div>
    <div id="BurialFieldColumn2" class="BurialFieldColumn">
      <div class="BurialFieldStoneTop">
      </div>
      <div  class="BurialFieldStoneMiddle">
      </div>
      <div class="BurialFieldStoneBottom">
      </div>
    </div>
    <div id="BurialFieldColumn3" class="BurialFieldColumn">
      <div class="BurialFieldStoneTop">
      </div>
      <div  class="BurialFieldStoneMiddle">
      </div>
      <div class="BurialFieldStoneBottom">
      </div>
    </div>
    <div id="BurialFieldColumn4" class="BurialFieldColumn">
      <div class="BurialFieldStoneTop">
      </div>
      <div  class="BurialFieldStoneMiddle">
      </div>
      <div class="BurialFieldStoneBottom">
      </div>
    </div>
    <div id="BurialFieldColumn5" class="BurialFieldColumn">
      <div class="BurialFieldStoneTop">
      </div>
      <div  class="BurialFieldStoneMiddle">
      </div>
      <div class="BurialFieldStoneBottom">
      </div>
    </div>
    <div id="BurialFieldColumn6" class="BurialFieldColumn">
      <div class="BurialFieldStoneTop">
      </div>
      <div  class="BurialFieldStoneMiddle">
      </div>
      <div class="BurialFieldStoneBottom">
      </div>
    </div>
    <div id="BurialFieldColumn7" class="BurialFieldColumn">
      <div class="BurialFieldStoneTop">
      </div>
      <div  class="BurialFieldStoneMiddle">
      </div>
      <div class="BurialFieldStoneBottom">
      </div>
    </div>
    <div id="BurialFieldColumn8" class="BurialFieldColumn">
      <div class="BurialFieldStoneTop">
      </div>
      <div  class="BurialFieldStoneMiddle">
      </div>
      <div class="BurialFieldStoneBottom">
      </div>
    </div>
  </div>
</div>
