#Burial_Chamber {
  position: relative;
}
#BurialText{
  position: absolute;
  top: 5px;
  left : 5px;
  display: none;
  height:175px;
  width: 590px;
  background-color: whitesmoke;
  color:black;
  z-index: 30;
  opacity: 0.8;
  text-align: center;
}
#BurialText h1{
  font-size: 20px;
  text-decoration: underline;
  font: "Arial Black";
}
#BurialText p{
  font-size: 15px;
}
a:hover + #BurialText{
  display: block;
}
#BurialField{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  top: 30px;
  right: 15px;
  width: 360px;
  height: 135px;
}

.BurialFieldStone {
  width: 45px;
  height: 45px;
}
table, th, td {
  border: 1px solid black;
  }
th, td{
  padding: 5px;
}
table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}
#info{
  position: absolute;
  top: 3px;
  left: 25px;
  width: 50px;
  z-index: 29;
}

