<div id="userinputfield" class="bg-white ">
  <app-cardstack *ngIf="showCardStack" [game]="game" [userToken]="currentUserToken" [dragulaService]="dragulaService"></app-cardstack>
  <app-sled [game]="game"></app-sled>
  <div id="buttons" >
    <div id="buttonstext">{{Playingstatus}}</div>
       <br>
    <button *ngIf="currentPlayer.token !== game.players[game.currentPlayerIndex].token"  class="btn-basic inline  position1 disabled" disabled (click)="toggleCardStack()">
      <img src="/assets/Images/icons/hand-holding-two-soccer-cards.svg" alt="Play Cards">
    </button>
    <button *ngIf="currentPlayer.token === game.players[game.currentPlayerIndex].token" class="btn-basic inline  position1" (click)="toggleCardStack()">
      <img src="/assets/Images/icons/hand-holding-two-soccer-cards.svg" alt="Play Cards">
    </button>
    <button *ngIf="currentPlayer.token !== game.players[game.currentPlayerIndex].token || currentPlayer.stoneSupply > 4" class="btn-basic inline  position1 disabled" disabled (click)="getStones()">
      <img src="/assets/Images/icons/cold-ice-cubes.svg" alt="Get Stones">
    </button>
    <button class="btn-basic inline  position1" *ngIf="currentPlayer.token === game.players[game.currentPlayerIndex].token && currentPlayer.stoneSupply < 5" (click)="getStones()">
      <img src="/assets/Images/icons/cold-ice-cubes.svg" alt="Get Stones">
    </button>

  </div>
  <div id="roundCounter"> Round: {{currentRoundNumber}} out of 6</div>

</div>
