<div id="userinputfield" class="bg-white text-center">
  <app-cardstack *ngIf="showCardStack"></app-cardstack>
  <app-sled [game]="game"></app-sled>
  <div id="buttons">
    {{Playingstatus}}<br>
    <button *ngIf="currentPlayer.token !== game.players[game.currentPlayerIndex].token"  class="btn-basic inline text-center position1 disabled" disabled (click)="toggleCardStack()">
      <img src="/assets/Images/icons/hand-holding-two-soccer-cards.svg" alt="Play Cards">
    </button>
    <button *ngIf="currentPlayer.token === game.players[game.currentPlayerIndex].token" class="btn-basic inline text-center position1" (click)="toggleCardStack()">
      <img src="/assets/Images/icons/hand-holding-two-soccer-cards.svg" alt="Play Cards">
    </button>
    <button *ngIf="currentPlayer.token !== game.players[game.currentPlayerIndex].token || currentPlayer.stoneSupply === 5" class="btn-basic inline text-center position1 disabled" disabled (click)="getStones()">
      <img src="/assets/Images/icons/cold-ice-cubes.svg" alt="Get Stones">
    </button>
    <button class="btn-basic inline text-center position1" *ngIf="currentPlayer.token === game.players[game.currentPlayerIndex].token && currentPlayer.stoneSupply < 5" (click)="getStones()">
      <img src="/assets/Images/icons/cold-ice-cubes.svg" alt="Get Stones">
    </button>

    <button class="btn-basic inline text-center position1" (click)="toggleSidebar()">
      <img src="/assets/Images/icons/ic_history_black_24px.svg" alt="History Log">
    </button>
  </div>
  <ng-sidebar-container style="z-index: 40">
    <ng-sidebar [(opened)]="_opened" style="z-index: 40" >
      <app-history-log></app-history-log>
    </ng-sidebar>
  </ng-sidebar-container>
</div>
