#userinputfield {
  width: 650px;
  height: 160px;
}

#userinputfield img {
  width: 130px;
  padding: 5px;
}
.position1{
  position: relative;
  top: 15px;
}

app-cardstack {
  position: absolute;
  top: -180px;
  left: 150px
}
