<div id="userinputfield" class="bg-white ">
  <app-cardstack *ngIf="showCardStack" [game]="game" [userToken]="currentUserToken" [dragulaService]="dragulaService"></app-cardstack>
  <app-sled [game]="game"></app-sled>
  <div *ngIf="isPlayerTurn()" #timer id="timer">
  </div>
  <div  id="timerbg">
  </div>
  <div id="buttons">
    <div id="buttonstext">{{Playingstatus}}</div>
       <br>
    <button class="btn-basic inline  position1" (click)="toggleCardStack()" data-toggle="tooltip" data-placement="bottom" title="Play market card">
      <img src="/assets/Images/icons/hand-holding-two-soccer-cards.svg" alt="Play Cards">
    </button>
    <button *ngIf="currentPlayer.token !== game.players[game.currentPlayerIndex].token || currentPlayer.stoneSupply > 4" class="btn-basic inline  position1 disabled" disabled (click)="getStones()" data-toggle="tooltip" data-placement="bottom" title="Get stones">
      <img src="/assets/Images/icons/cold-ice-cubes.svg" alt="Get Stones">
    </button>
    <button class="btn-basic inline  position1" *ngIf="currentPlayer.token === game.players[game.currentPlayerIndex].token && currentPlayer.stoneSupply < 5" (click)="getStones()" data-toggle="tooltip" data-placement="bottom" title="Get stones">
      <img src="/assets/Images/icons/cold-ice-cubes.svg" alt="Get Stones">
    </button>
  </div>
  <div id="roundCounter"> Round {{currentRoundNumber}} out of 6</div>

</div>
