<div id = "whole">


<div id = "okbre" class="form-signin">
  <div id = "info">
    Imhotep was the first and most famous master builder of ancient Egypt. <br>
    He is considered one of the earliest polymaths in the history of humanity. <br>
    For example, he is said to have been responsible for building the very first <br>
    pyramid in Egypt — the Pyramid of Djoser in Saqqara. Can you match <br>
    his accomplishments in creating monuments for the ages? You will need <br>
    ships to transport blocks of stone to various building sites. But you will not <br>
    be the only one making decisions about where to send the ships and their <br>
    cargoes. Your opponents will have their own plans and will try to prevent <br>
    your success. A fierce competition will unfold over the most valuable stone <br>
    shipments. It will take clever tactics and a little luck to achieve success. <br>
    <br>
    GAME OBJECTIVE:  <br>
    Each player assumes the role of an Egyptian master <br>
    builder. You will have 6 rounds to transport your stones<br>
    to the various sites and to erect monuments in such a<br>
    way that you earn the most points. Whenever your turn<br>
    comes up, you will select one of the following 4 action<br>
    options:<br> <br>
    • Get new stones<br>
    • Place 1 stone on the ship<br>
    • Sail 1 ship to a site <br>
    • Play 1 blue market card <br>
    Delivering the stones gets you various points in various<br>
    ways — sometimes more points, sometimes fewer;<br>
    sometimes right away, sometimes at the end of a round,<br>
    and sometimes at the end of the game. Whoever has the<br>
    most points after 6 rounds is the winner.<br>

  </div>
<br>

  <br>
  <a [routerLink]="['/lobby']">Back</a> <br>
</div>
</div>

