#stats-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

#card-info {
  position: absolute;
}

.pos0 {
  top: -195px;
  left: 18px;
}

.pos1 {
  top: -195px;
  left: 185px;
}

.pos2 {
  top: -55px;
  left: 18px;
}

.pos3 {
  top: -55px;
  left: 185px;
}

.table {
  margin-bottom: 0;
}
.table td {
  max-width: 134px;
  overflow: hidden;
}

.player-stat {
  width: 170px;
  margin: 2px;
}

.card-stats {
  max-width: 200px;
  margin-bottom: 5px;
}

.cards {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 0.7;
  z-index: 10;
  margin: 0 5px;
}

.green {
  background-color: #65C400;
  box-shadow: 0 2px 2px #65C400;
}

.blue {
  background-color: #16BEF4;
  box-shadow: 0 2px 2px #16BEF4;
}

.pink {
  background-color: #AE5F9F;
  box-shadow: 0 2px 2px #AE5F9F;
}
.WHITE{
  background-color: #fff;
  background-image: url("/assets/Images/StatsBoard/WHITE.png");
  background-size: cover;
  color: #080808;

}
.BLACK{
  background-color: #080808;
  background-image: url("/assets/Images/StatsBoard/BLACK.png");
  background-size: cover;
  color: whitesmoke;

}
.GREY{
  background-color: #8c8c8c;
  background-image: url("/assets/Images/StatsBoard/GREY.png");
  background-size: cover;
  color: whitesmoke ;

}
.BROWN{
  background-color: saddlebrown;
  background-image: url("/assets/Images/StatsBoard/BROWN.png");
  background-size: cover;
  color: whitesmoke;

}
#usrname{
  height: 36px;
  overflow: hidden;
}
#currentP{
  outline: 4px #219519;
  box-shadow: 0 0 0 4px #1de609;
  z-index: 1000;
  animation: 1.5s neon3 ease-in-out infinite alternate;

}


.te{
  border-width: 3px;
  border-color: green;
  border-radius: 5px;
  border-style: double;
}
#statsBo{
margin: auto;
}
