<ng-container *ngIf="game">
  <div *ngFor="let player of game.players; let i=index" class="player-stat bg-white {{player.stoneColor}}" (mouseenter)="toggleCards(true, player.token)" (mouseleave)="toggleCards(false, player.token)">
    <table class="table">
      <tr>
        <td>{{i+1}}. {{player.username}}</td>
        <td>{{player.points}}</td>
      </tr>
      <tr>
        <td>Sled</td>
        <td>{{player.stoneSupply}}/5</td>
      </tr>
      <tr>
        <td>Quarry</td>
        <td>{{player.stoneQuerry}}</td>
      </tr>
      <tr>
    </table>
    <div *ngFor="let cardcount of getCardcount(player.token); let i=index" class="card-stats center inline-block">
      <div *ngIf="i === 0" class="inline-block"><span class="cards green inline-block"></span> x{{cardcount}}</div>
      <div *ngIf="i === 1" class="inline-block"><span  class="cards blue inline-block"></span> x{{cardcount}}</div>
      <div *ngIf="i === 2" class="inline-block"><span  class="cards pink inline-block"></span> x{{cardcount}}</div>
    </div>
  </div>
  <div *ngIf="showCards" (mouseenter)="toggleCards(true)" (mouseleave)="toggleCards(false)">
    <app-cardstack [game]="game" [userToken]="player.token"></app-cardstack>
  </div>

</ng-container>
