#Obelisk {
  position: relative;
}
.ObeliskStone{
  position: absolute;
  width: 48px;
  height: 48px;

}
.NumberStone{

  text-align: center;
  vertical-align: middle;
  font-size: 250%;
  margin: 0 auto;

}
.site .ObeliskStone :hover {
  opacity: 1.0;
}


#ObeliskStoneBlack{
  top: 15px;
  left: 290px;
  background: black;
  opacity: 0.5;
  color:white;
  text-align: center;
}
#ObeliskStoneWhite{
  top: 33px;
  left: 372px;
  background: white;
  opacity: 0.5;
  color:black;
  text-align: center;



}
#ObeliskStoneBrown{
  top: 51px;
  left: 454px;
  background: brown;
  opacity: 0.5;
  color:white;
  text-align: center;
}

#ObeliskStoneGrey{
  top: 72px;
  left: 536px;
  background: grey;
  opacity: 0.5;
  color:white;
  text-align: center;

}
#ObeliskStoneTotal{
  top: 15px;
  left: 170px;
  background: lawngreen;
  opacity: 0.8;
  color: black;
}
#ObeliskText{
  position: absolute;
  top: 5px;
  left : 5px;
  display: none;
  height:175px;
  width: 590px;
  background-color: whitesmoke;
  color:black;
  z-index: 30;
  opacity: 0.8;
  text-align: center;
}
#ObeliskText h1{
  font-size: 20px;
  text-decoration: underline;
  font: "Arial Black";
}
#ObeliskText p{
  font-size: 15px;
}
a:hover + #ObeliskText{
  display: block;
}
#info{
  position: absolute;
  top: 3px;
  left: 25px;
  width: 50px;
  z-index: 29;
}
table, th, td {
  border: 1px solid black;
}
th, td{
  padding: 5px;
}
table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}
