<div id="Obelisk" class="site">

  <div  id="Titel"></div>
  <div id="TotalStone"><img src="/assets/Images/icons/stone.png " alt="Stone" style="width: 30px">: {{sumO}}</div>
  <div id="ObeliskDock" class="Dockedright" *ngIf="obeliskSite.dockedShip !== null">
    <app-ship class="shipsize1" [stones]="obeliskSite.dockedShip.stones" [game]="game" [isDocked]="true"></app-ship>
  </div>

  <div id="ObeliskDock" class="Dockright" [dragula]='"first-bag"' *ngIf="obeliskSite.dockedShip === null && dockOpen" [ngClass]="{'drop-border': showBorder }"></div>

  <img src="/assets/Images/Site_boards/Obelisks.png" alt="Obelisk">

  <div on-mouseenter='enter()' on-mouseleave='leave()' id="InfoShowO">

    <div id="ObeliskText" *ngIf="display"><h1>Obelisk</h1> <p>At the end of the game each player gets points according to their rank. <br> The distribution is as followed: </p>
      <table *ngIf="Playercount === 2" >
        <tr>
          <th>1st</th>
          <th>2nd</th>
        </tr>
        <tr>
          <td>10</td>
          <td>1</td>
        </tr>
      </table>
      <table *ngIf="Playercount === 3" >
        <tr>
          <th>1st</th>
          <th>2nd</th>
          <th>3rd</th>
        </tr>
        <tr>
          <td>12</td>
          <td>6</td>
          <td>1</td>
        </tr>
      </table>
      <table *ngIf="Playercount === 4" >
        <tr>
          <th>1st</th>
          <th>2nd</th>
          <th>3rd</th>
          <th>4rd</th>
        </tr>
        <tr>
          <td>15</td>
          <td>10</td>
          <td>5</td>
          <td>1</td>
        </tr>
      </table>
    </div>
  </div>


  <ng-container *ngIf="Playercount === 2">
<div id="ObeliskStoneBlack2" class="ObeliskStone2 text-center inline center">
  <div class="NumberStone">{{obeliskSite.stones[0]}}</div>
</div>
<div id="ObeliskStoneWhite2" class="ObeliskStone2 text-center inline center">
  <div class="NumberStone">{{obeliskSite.stones[1]}}</div>
</div>

</ng-container>
  <ng-container *ngIf="Playercount === 3">
    <div id="ObeliskStoneBlack3" class="ObeliskStone3 text-center inline center">
      <div class="NumberStone">{{obeliskSite.stones[0]}}</div>
    </div>
    <div id="ObeliskStoneWhite3" class="ObeliskStone3 text-center inline center">
      <div class="NumberStone">{{obeliskSite.stones[1]}}</div>
    </div>
    <div id="ObeliskStoneGrey3" class="ObeliskStone3 text-center inline center">
      <div class="NumberStone">{{obeliskSite.stones[2]}}</div>
    </div>

  </ng-container>
  <ng-container *ngIf="Playercount === 4">
    <div id="ObeliskStoneBlack4" class="ObeliskStone4 text-center inline center">
      <div class="NumberStone">{{obeliskSite.stones[0]}}</div>
    </div>
    <div id="ObeliskStoneWhite4" class="ObeliskStone4 text-center inline center">
      <div class="NumberStone">{{obeliskSite.stones[1]}}</div>
    </div>
    <div id="ObeliskStoneBrown4" class="ObeliskStone4 text-center inline center">
      <div class="NumberStone">{{obeliskSite.stones[3]}}</div>
    </div>
    <div id="ObeliskStoneGrey4" class="ObeliskStone4 text-center inline center">
      <div class="NumberStone">{{obeliskSite.stones[2]}}</div>
    </div>
  </ng-container>

</div>
