<div id="Obelisk" class="site">
  <div id="ObeliskDock" class="Dockright" [dragula]='"first-bag"'>
  </div>
  <img src="/assets/Images/Site_boards/Obelisks.png" alt="Obelisk">

<div id="ObeliskStoneBlack" class="ObeliskStone">
  <div class="NumberStone">10</div>
</div>
<div id="ObeliskStoneWhite" class="ObeliskStone">
  <div class="NumberStone">7</div>
</div>
<div id="ObeliskStoneBrown" class="ObeliskStone">
  <div class="NumberStone">5</div>
</div>
<div id="ObeliskStoneGrey" class="ObeliskStone">
  <div class="NumberStone">0</div>
</div>
  <div id="ObeliskStoneTotal" class="ObeliskStone">
    <div class="NumberStone">22</div>
  </div>
</div>
