<ng-container *ngIf="stoneColor === 'BLACK'">
  <div class="stone black"><img src="/assets/Images/Stone/BlackStone{{texturestyle}}.png" style="width: 100%; height: 100%" [@stoneEnter]="'in'"></div>
</ng-container>
<ng-container *ngIf="stoneColor === 'WHITE'">
  <div class="stone white"><img src="/assets/Images/Stone/WhiteStone{{texturestyle}}.png" style="width: 100%; height: 100%" [@stoneEnter]="'in'"></div>
</ng-container>
<ng-container *ngIf="stoneColor === 'BROWN'">
  <div class="stone brown"><img src="/assets/Images/Stone/BrownStone{{texturestyle}}.png" style="width: 100%; height: 100%" [@stoneEnter]="'in'"></div>
</ng-container>
<ng-container *ngIf="stoneColor === 'GREY'">
  <div class="stone grey"><img src="/assets/Images/Stone/GreyStone{{texturestyle}}.png" style="width: 100%; height: 100%" [@stoneEnter]="'in'"></div>
</ng-container>
<ng-container *ngIf="stoneMarker === 'MARKED'">
  <div class="stone Marked"></div>
</ng-container>
