<div id = "Sled">
  <img src="/assets/Images/Sled_Tokens/Supply_Sled_Tokens_{{stoneColor}}.png" alt="Sled">
    <ng-container *ngFor="let stone of stones; let i = index;">
      <div *ngIf="game.logicState === 'MARKET'" id="SledStone{{i+1}}"  [dragula]='"second-bag"' >
        <app-stone class="donotdrag" [stoneColor]="stoneColor"></app-stone>
      </div>
      <div *ngIf="game.logicState === 'NORMAL'" id="SledStone{{i+1}}" [dragula]='"second-bag"' [@stoneEnter]="'in'">
        <app-stone [stoneColor]="stoneColor"></app-stone>
      </div>
    </ng-container>
</div>
