#Sled{
  width: 175px;
  padding: 5px;
  position: relative;
  top: 13px;
  left :0;
}
#Sled img{
  width: 175px;
}
#SledStone1{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 23px;
  left: 49px;
}
#SledStone2{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 23px;
  left: 94.5px;
}
#SledStone3{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 69.5px;
  left: 26px;
}
#SledStone4{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 69.5px;
  left: 70px;
}
#SledStone5{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 69.5px;
  left: 116px;
}
