#Sled{
  width: 175px;
  padding: 5px;
  position: absolute;
  top: 13px;
  left :0px
}
#Sled img{
  width: 175px;
}
#SledStone1{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 21px;
  left: 49px;
}
#SledStone2{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 21px;
  left: 95px;
}
#SledStone3{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 69px;
  left: 24px;
}
#SledStone4{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 69px;
  left: 70px;
}
#SledStone5{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 69px;
  left: 116px;
}
