<div class="inline position1" id = "Sled">
  <img src="/assets/Images/Sled_Tokens/Supply_Sled_Tokens_braun_eckig.png" alt="Sled" >
  <div id="SledStone1" [dragula]='"second-bag"'>
    <app-stone></app-stone>
  </div>
  <div id="SledStone2" [dragula]='"second-bag"'>
    <app-stone></app-stone>
  </div>
  <div id="SledStone3" [dragula]='"second-bag"'>
    <app-stone></app-stone>
  </div>
  <div id="SledStone4" [dragula]='"second-bag"'>
    <app-stone></app-stone>
  </div>
  <div id="SledStone5" [dragula]='"second-bag"'>
    <app-stone></app-stone>
  </div>
</div>




