#Temple {
  position: relative;
}
.templeStone{
  position: absolute;
  top: 57px;
  width: 45px;
  height: 45px;
}
.templeArrow{
  position: absolute;
  top: 57px;
  width: 45px;
  height: 45px;
}
#Stone1{
  left: 338px;
}
#Stone2{
  left: 383px;
}
#Stone3{
  left: 428px;
}
#Stone4{
  left: 473px;
}
#Stone5{
  left: 518px;
}

#Arrow1{
  left: 338px;
}
#Arrow2{
  left: 383px;
}
#Arrow3{
  left: 428px;
}
#Arrow4{
  left: 473px;
}
#Arrow6{
  left: 473px;
}
#Arrow5{
  left: 518px;
}
#TempelText{
  position: absolute;
  top: 5px;
  left : 5px;
  height:145px;
  width: 590px;
  background-image: url("/assets/Images/papyrus-wallpapers.jpeg");
  color:black;
  z-index: 30;
  opacity: 0.8;
  text-align: center;
}
#TempelText h1{
  font-size: 20px;
  font-weight: bold;
  font: "Arial Black";
}
#TempelText p{
  font-size: 15px;
}
#info{
  position: absolute;
  top: 3px;
  left: 25px;
  width: 50px;
}
#Titel{
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: 25px;
  font-weight: bold;
  font-family: Sand;
  widht: 100%;
}
.Templebg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  top: 57px;
  left: 338px;
  width: 225px;
  height: 45px;
}
#background{
  background-color: #cd9b1d;
  opacity: 0.7;
  width: 45px;
  height: 45px;
  border-width: thin;
  border-style: solid;
}
.background{
  background-color:#cd9b1d;
  opacity: 0.7;
  width: 45px;
  height: 45px;
  border-width: thin;
  border-style: solid;
}
#TotalStone{
  position: absolute;
  top: 5px;
  right: 35px;
  font-size: 15px;
  widht: 100%;
  font-family: Sand;

}
