<div id="Temple" class="site">
  <div id="Titel">TEMPLE</div>
  <div id="TempleDock" class="Dockright" *ngIf="templeSite.dockedShip !== null">
    <app-ship class="shipsize1" [stones]="templeSite.dockedShip.stones" [game]="game" [isDocked]="true"></app-ship>
  </div>

  <div id="TempleDock" class="Dockright" [dragula]='"first-bag"' *ngIf="templeSite.dockedShip === null && dockOpen">
  </div>

  <img src="/assets/Images/Site_boards/Temple.png" alt="Temple">
  <a><img src="/assets/Images/icons/240px-Infobox_info_icon.svg.png" alt="Tempel_Info" id="info"></a>
  <div id="TempelText"><h1>Temple</h1> <p>For each stone delivered here, the owner of the stone earns 1 point for each from above visible stone at the end of every round. The last placed stone is indicated</p>
  </div>

  <div  class="Templebg" *ngIf="templeSite.size===4">
    <div *ngFor="let div of divArray4; let i = index;" class="background" >
      <div class="background" ></div>
    </div>
  </div>

  <div  class="Templebg" *ngIf="templeSite.size===5">
    <div *ngFor="let div of divArray5; let i = index;" class="background" >
      <div class="background" ></div>
    </div>
  </div>

  <div id="Stone1" class="templeStone">
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * (x-1)+0]" *ngIf="sizeT % templeSite.size === 0"></app-stone>
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * (x)+0]" *ngIf="sizeT % templeSite.size > -1"></app-stone>
  </div>
  <div id="Stone2" class="templeStone">
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * x+1]" *ngIf="sizeT % templeSite.size > 1">
    </app-stone>
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * (x-1)+1]" *ngIf="sizeT % templeSite.size <= 1">
    </app-stone>
  </div>
  <div id="Stone3" class="templeStone">
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * x+2]" *ngIf="sizeT % templeSite.size > 2"></app-stone>
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * (x-1)+2]" *ngIf="sizeT % templeSite.size <= 2"></app-stone>
  </div>
  <div id="Stone4" class="templeStone">
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * x+3]" *ngIf="sizeT % templeSite.size > 3"></app-stone>
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * (x-1)+3]" *ngIf="sizeT % templeSite.size <= 3"></app-stone>
  </div>
  <div id="Stone5" class="templeStone" *ngIf="templeSite.size===5" >
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * x+4]" *ngIf="sizeT % templeSite.size > 4"></app-stone>
    <app-stone [stoneColor]= "templeSite.stones[templeSite.size * (x-1)+4]" *ngIf="sizeT % templeSite.size <= 4"></app-stone>
  </div>

  <div id="Arrow1" class="templeArrow">
    <app-stone [stoneMarker]= "'MARKED'" *ngIf="indexT===1"></app-stone>
  </div>
  <div id="Arrow2" class="templeArrow" >
    <app-stone [stoneMarker]= "'MARKED'" *ngIf="indexT===2"></app-stone>
  </div>
  <div id="Arrow3" class="templeArrow" >
    <app-stone [stoneMarker]= "'MARKED'" *ngIf="indexT===3"></app-stone>
  </div>
  <div id="Arrow4" class="templeArrow" *ngIf="templeSite.size===4">
    <app-stone [stoneMarker]= "'MARKED'" *ngIf="indexT===0"></app-stone>
  </div>
  <div id="Arrow6" class="templeArrow" *ngIf="templeSite.size===5">
    <app-stone [stoneMarker]= "'MARKED'" *ngIf="indexT===4"></app-stone>
  </div>
  <div id="Arrow5" class="templeArrow" *ngIf="templeSite.size===5">
    <app-stone [stoneMarker]= "'MARKED'" *ngIf="indexT===0"></app-stone>
  </div>


</div>


