#Temple {
  position: relative;
}
.templeStone{
  position: absolute;
  top: 57px;
  width: 42px;
  height: 42px;
}
.templeArrow{
  position: absolute;
  top: 57px;
  width: 42px;
  height: 42px;
}
#Stone1{
  left: 338px;
}
#Stone2{
  left: 380px;
}
#Stone3{
  left: 424px;
}
#Stone4{
  left: 468px;
}
#Stone5{
  left: 513px;
}

#Arrow1{
  left: 338px;
}
#Arrow2{
  left: 380px;
}
#Arrow3{
  left: 424px;
}
#Arrow4{
  left: 468px;
}
#Arrow6{
  left: 468px;
}
#Arrow5{
  left: 513px;
}
#TempelText{
  position: absolute;
  top: 5px;
  left : 5px;
  height:145px;
  width: 590px;
  background-color: whitesmoke;
  color:black;
  z-index: 30;
  opacity: 0.8;
  text-align: center;
}
#TempelText h1{
  font-size: 20px;
  font-weight: bold;
  font: "Arial Black";
}
#TempelText p{
  font-size: 15px;
}
#info{
  position: absolute;
  top: 3px;
  left: 25px;
  width: 50px;
}
#Titel{
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: 25px;
  font-weight: bold;
  widht: 100%;
}
