<div id="card-stack" class="bg-white row">
  <ng-container *ngFor="let card of playerCards; let i = index">
    <app-card [cardName]="card" class="col-md-6" *ngIf="isPlayerTurn() && cardColors[i] === 'BLUE'" (click)="openMoveModal(card)"></app-card>
    <app-card [cardName]="card" class="col-md-6" *ngIf="!(isPlayerTurn() && cardColors[i] === 'BLUE')"></app-card>
  </ng-container>
</div>

<modal #setMoveModal (onOpen)="showCardModal(modalSelectedCard)">
  <modal-content>
    <app-card style="width: 300px;" [cardName]="modalSelectedCard"></app-card>
  </modal-content>
  <modal-footer >
    <button class="btn-basic" (click)="setPlayCardMode(modalSelectedCard)">Play</button>
  </modal-footer>
</modal>

<modal #stoneReorderModal>
  <modal-header>
    <h4>Reorder the stones before unloading to {{site}}</h4>
  </modal-header>
  <modal-content>
    <div id="Ships">
      <ng-container *ngFor="let ship of game.gameBoard.availableShips; let i = index;">
        <app-ship *ngIf="shipIndex === i" [shipIndex]="i" [stones]="ship.stones"  [reorderMode]="true" [game]="game"></app-ship>
      </ng-container>
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn-basic" (click)="leverSetNewOrder()">Apply</button>
    <button class="btn-basic" (click)="stoneReorderModal.close()">close</button>
  </modal-footer>
</modal>




