<div *ngIf=" getCardcount() > 0" id="card-stack" class="bg-white row">
  <ng-container *ngFor="let card of playerCards; let i = index">
    <app-card [cardName]="card" class="col-md-6" *ngIf="isPlayerTurn() && cardColors[i] === 'BLUE'" (click)="openMoveModal(card)"></app-card>
    <app-card [cardName]="card" class="col-md-6" *ngIf="!(isPlayerTurn() && cardColors[i] === 'BLUE')"></app-card>
  </ng-container>
</div>

<modal #setMoveModal (onOpen)="showCardModal(modalSelectedCard)">
  <modal-content>
    <app-card style="width: 300px;" [cardName]="modalSelectedCard"></app-card>
  </modal-content>
  <modal-footer >
    <button *ngIf="modalSelectedCard !== 'Chisel' && modalSelectedCard !== 'Hammer' && modalSelectedCard !== 'Sail' " class="btn-basic" (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Hammer' && getBlankspaces() >0" class="btn-basic" (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Hammer' && getBlankspaces() <1" class="btn-basic disabled" disabled (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Sail' && getBlankspaces() >0 && currentPlayer.stoneSupply >0" class="btn-basic" (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Sail' && getBlankspaces() >0 && currentPlayer.stoneSupply <1" class="btn-basic disabled" disabled (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Sail' && getBlankspaces() <1 && currentPlayer.stoneSupply >0" class="btn-basic disabled" disabled (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Sail' && getBlankspaces() <1 && currentPlayer.stoneSupply <1" class="btn-basic disabled" disabled (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Chisel' && getBlankspaces() >1 && currentPlayer.stoneSupply >1" class="btn-basic" (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Chisel' && getBlankspaces() <2 && currentPlayer.stoneSupply <= 1" class="btn-basic disabled" disabled (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Chisel' && getBlankspaces() >1 && currentPlayer.stoneSupply <= 1" class="btn-basic disabled" disabled (click)="setPlayCardMode(modalSelectedCard)">Play</button>
    <button *ngIf="modalSelectedCard === 'Chisel' && getBlankspaces() <2 && currentPlayer.stoneSupply > 1" class="btn-basic disabled" disabled (click)="setPlayCardMode(modalSelectedCard)">Play</button>
  </modal-footer>
</modal>

<modal #stoneReorderModal
       [hideCloseButton]="true"
       [closeOnEscape]="false"
       [closeOnOutsideClick]="false">
  <modal-header>
    <h4>Reorder the stones before unloading to {{site}}</h4>
    <h4>Click on Stones in the order you want to unload them.</h4>
  </modal-header>
  <modal-content id="stoneReorderContent">

    <div id="Ships" class="inline">
      <ng-container *ngFor="let ship of game.gameBoard.availableShips; let i = index;">
        <app-ship *ngIf="shipIndex === i" [shipIndex]="i" [stones]="ship.stones"  [reorderMode]="true"
                  [reordering]="reordering" [reordered]="reordered" [game]="game" [stoneColorsIndexed]="stoneColorsIndexed"></app-ship>
      </ng-container>
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn-basic inline-block" (click)="leverSetNewOrder()">Apply</button>
    <button class="btn-basic inline-block" (click)="leverReset()">Reset</button>
  </modal-footer>
</modal>

<modal #HammerModal>
  <modal-header>
    <h4>Place Stone on ship please {{site}}</h4>
  </modal-header>
  <modal-content>
    <div id="HammerShips">
        <div class="col-md-3" *ngFor="let ship of game.gameBoard.availableShips; let i = index;" >
          <app-ship [shipIndex]="i" [stones]="ship.stones" [HammerMode]="true"  [game]="game"></app-ship>
        </div>
    </div>
    <div id="Stone" [dragula]='"Hammer-bag"'><app-stone [stoneColor]="this.currentPlayer.stoneColor"></app-stone></div>
  </modal-content>
  <modal-footer>
    <button class="btn-basic" (click)="stoneReorderModal.close()">close</button>
  </modal-footer>
</modal>






