#card-stack {
  width: 330px;
  height: 195px;
  overflow: scroll;
  overflow-x: hidden;
  background-image: url("/assets/Images/papyrus-wallpapers.jpeg");
  border-width: 3px;
  border-color: saddlebrown;
  border-style: groove;
  border-radius: 5px;
}

app-card {
  padding: 5px;
}

app-sled {
  display: block;
}

#Ships{
  width: 64px;
  bottom: 5px;
  left: 450px;
  background-color: inherit;
}
#HammerShips{
  width: 355px;
  height: 260px;
  position: relative;
  background-color: inherit;
}
#Stone{
  position: absolute;
  left: 400px;
  top: 30px;
  width:50px;
  height:50px;
  z-index: 40;
}
.disabled{
  background: #dddddd;
}
