#card-stack {
  width: 330px;
  height: 195px;
  overflow: scroll;
  overflow-x: hidden;
}

app-card {
  padding: 5px;
}

app-sled {
  display: block;
}

#Ships{
  width: 64px;
  bottom: 5px;
  left: 450px;
  background-color: inherit;
}
