html, body {
  background: #F2994A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F2994A , #F2C94C); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F2994A , #F2C94C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-white {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  opacity: 0.96;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.btn-basic {
  background-color: #38AAB5;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  display: block;
  font-size: 1.5em;
  font-weight: 300;
  opacity: 0.7;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-basic:hover {
  background-color: #1B8F9A;
}

.modal-content {
  border-radius: 0;
  margin-top: 100px;
}

.modal-backdrop {
  display: none;
}
.Dockright{
   position: absolute;
  top: 50%;
  transform: translateY(-50%);
   left: -50px;
   width: 50px;
   height: 120px;
 }
.Dockleft{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  width: 50px;
  height: 120px;
}
.Dockright img{

}
.site img {
  width: 600px;
}
.siteLeft{
  position:relative ;
  float: left;
}
.siteRight{
  position: relative;
  float: right;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
