@font-face {
  font-family: 'Papyrus';
  src: url('/assets/fonts/papyrus/Papyrus-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/papyrus/Papyrus-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/papyrus/Papyrus-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/papyrus/Papyrus-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/papyrus/Papyrus-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/papyrus/Papyrus-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
  background: #000000; /* fallback for old browsers */
  font-family: 'Papyrus', serif;
  font-weight: 600;
  height: 100%;
  overflow: hidden;
}


.bg-white {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  opacity: 0.96;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.btn-basic {
  background-color: #ddc45d;
  color: #72452c;
  text-decoration: none;
  border: 1px solid transparent;
  display: block;
  font-size: 1.5em;
  font-weight: 300;
  opacity: 0.7;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-basic:hover {
  background-color: #ddae00;
}

.modal-content {
  border-radius: 0;
  margin-top: 100px;
}

.modal-backdrop {
  display: none;
}
.Dockright{
   position: absolute;
  top: 50%;
  transform: translateY(-50%);
   left: -50px;
   width: 80px;
   height: 154px;
 }
.Dockleft{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  width: 80px;
  height: 184px;
}
.Dockedright{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: -43px;
  width: 50px;
  height: 100px;
}
.Dockedleft{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: -22px;
  width: 50px;
  height: 100px;
}
.Dockright img{

}
.site img {
  width: 600px;
}
.siteLeft{
  position:relative ;
  float: left;
}
.siteRight{
  position: relative;
  float: right;
}

.drop-border {
  border-radius: 5px;
  opacity: 0.8;
  box-shadow: 0 0 4px #F0DC07;
  animation: 1.5s neon3 ease-in-out infinite alternate;
}

.draggable-border {
  border-radius: 50%;
  box-shadow: 0 0 1px #73D216;
  background-color: rgba(255,255,255, 0.8);
  animation: 1.5s neon4 ease-in-out infinite alternate;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
@font-face {
  font-family: 'Egyptian_Nights';
  src:url('/assets/fonts/Egyptian_Nights.ttf')  format('truetype');
}
@font-face {
  font-family: 'Sand';
  src:url('/assets/fonts/SAND____.TTF')  format('truetype');
}

.group {
  position:relative;
}

.group input {
  background-color: transparent;
  color: #ffe169;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
  text-align: center;
  width: 100%;
}
.group input:focus 		{ outline:none; }


.group label {
  color: #ffe169;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:0;
  right: 0;
  top:10px;
  transition:0.2s ease all;
  text-align: center;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.group input:focus ~ label,
.group input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color: #ffe169;
}

/* BOTTOM BARS ================================= */
.group .bar 	{ position:relative; display:block; width:300px; }
.group .bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background: #ffe169;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.group .bar:before {
  left:50%;
}
.group .bar:after {
  right:50%;
}

/* active state */
.group input:focus ~ .bar:before,
.group input:focus ~dropi .bar:before,
.group input:focus ~ .bar:after {
  width:50%;
}

.group .highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:#ffe169; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#ffe169; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#ffe169; }
  to 	{ width:0; background:transparent; }
}

@-webkit-keyframes neon3 {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
  to {
    box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #FFDD1B, 0 0 17.5px #FFDD1B, 0 0 20px #FFDD1B, 0 0 25px #FFDD1B, 0 0 37.5px #FFDD1B;
  }
}

@-moz-keyframes neon3 {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
  to {
    box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #FFDD1B, 0 0 17.5px #FFDD1B, 0 0 20px #FFDD1B, 0 0 25px #FFDD1B, 0 0 37.5px #FFDD1B;
  }
}

@keyframes neon3 {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
  to {
    box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #FFDD1B, 0 0 17.5px #FFDD1B, 0 0 20px #FFDD1B, 0 0 25px #FFDD1B, 0 0 37.5px #FFDD1B;
  }
}

@-webkit-keyframes neon4 {
  from {
    box-shadow: 0 0 5px rgba(255,255,255, 0.5), 0 0 10px rgba(255,255,255, 0.5), 0 0 15px rgba(255,255,255, 0.5), 0 0 20px rgba(255,255,255, 0.5), 0 0 35px rgba(255,255,255, 0.5), 0 0 40px rgba(255,255,255, 0.5), 0 0 50px rgba(255,255,255, 0.5), 0 0 75px rgba(255,255,255, 0.5);
  }
  to {
    box-shadow: 0 0 2.5px rgba(255,255,255, 0.5), 0 0 5px rgba(255,255,255, 0.5), 0 0 7.5px #fff, 0 0 10px rgba(255,255,255, 0.5), 0 0 17.5px rgba(255,255,255, 0.5), 0 0 20px rgba(255,255,255, 0.5), 0 0 25px rgba(255,255,255, 0.5), 0 0 37.5px rgba(255,255,255, 0.5);
  }
}

@-moz-keyframes neon4 {
  from {
    box-shadow: 0 0 5px rgba(255,255,255, 0.5), 0 0 10px rgba(255,255,255, 0.5), 0 0 15px rgba(255,255,255, 0.5), 0 0 20px rgba(255,255,255, 0.5), 0 0 35px rgba(255,255,255, 0.5), 0 0 40px rgba(255,255,255, 0.5), 0 0 50px rgba(255,255,255, 0.5), 0 0 75px rgba(255,255,255, 0.5);
  }
  to {
    box-shadow: 0 0 2.5px rgba(255,255,255, 0.5), 0 0 5px rgba(255,255,255, 0.5), 0 0 7.5px rgba(255,255,255, 0.5), 0 0 10px rgba(255,255,255, 0.5), 0 0 17.5px rgba(255,255,255, 0.5), 0 0 20px rgba(255,255,255, 0.5), 0 0 25px rgba(255,255,255, 0.5), 0 0 37.5px rgba(255,255,255, 0.5);
  }
}

@keyframes neon4 {
  from {
    box-shadow: 0 0 5px rgba(255,255,255, 0.5), 0 0 10px rgba(255,255,255, 0.5), 0 0 15px rgba(255,255,255, 0.5), 0 0 20px rgba(255,255,255, 0.5), 0 0 35px rgba(255,255,255, 0.5), 0 0 40px rgba(255,255,255, 0.5), 0 0 50px rgba(255,255,255, 0.5), 0 0 75px rgba(255,255,255, 0.5);
  }
  to {
    box-shadow: 0 0 2.5px rgba(255,255,255, 0.5), 0 0 5px rgba(255,255,255, 0.5), 0 0 7.5px rgba(255,255,255, 0.5), 0 0 10px rgba(255,255,255, 0.5), 0 0 17.5px rgba(255,255,255, 0.5), 0 0 20px rgba(255,255,255, 0.5), 0 0 25px rgba(255,255,255, 0.5), 0 0 37.5px rgba(255,255,255, 0.5);
  }
}

