app-userinputfield {
  width: 488px;
  height: 160px;
  position: absolute;
  bottom: 15px;
  right: 0px;
}
#Ships {
  width: 345px;
  height: 250px;
  position: absolute;
  bottom: -20px;
  left: 450px;
  background-color: inherit;
}

#playing-field {
  width: 1360px;
  height: 760px;
}

.ripple-wrap {
  position: absolute;
}
