<div class="ripple-wrap">
  <img src="/assets/Images/water2_256.bmp" height="768" width="1024" onload="WaterCanvas(this)" style="display: none;">
</div>
<div id="playing-field" *ngIf="game">
  <app-site [game]="game"></app-site>
  <div id="Ships">
    <div class="row">
        <div class="col-md-3" *ngFor="let ship of game.gameBoard.availableShips; let i = index;" [dragula]='"first-bag"'>
            <app-ship *ngIf="ship.sailable && game.logicState === 'NORMAL' " id="ship{{i+1}}" class="shipsize{{ship.stones.length}}" [shipIndex]="i" [stones]="ship.stones" [game]="game"></app-ship>
            <app-ship *ngIf="!ship.sailable || game.logicState === 'MARKET'" id="ship{{i+1}}" class="shipsize{{ship.stones.length}} donotdrag" [shipIndex]="i" [stones]="ship.stones" [game]="game"></app-ship>
        </div>
    </div>
  </div>
  <app-userinputfield [game]="game" [dragulaService]="dragulaService"></app-userinputfield>
</div>

