
<div class="bg-white row">
  <div id="playing-field" class="col-md-9">
    <app-burialchamber></app-burialchamber>
    <app-ship></app-ship>
     <div class="game">
      <span class="boardleft">
        <img src="/assets/Images/Site_boards/Pyramids.png" alt="Pyramid" style="float:left;width:450px;">
        <img src="/assets/Images/Site_boards/Market.png" alt="Market" style="float:left;width:450px;">
      </span>
      <span class="boardright">
        <img src="/assets/Images/Site_boards/Temple.png" alt="Temple" style="float:right;width:450px;">
        <img src="/assets/Images/Site_boards/Burial_Chamber.png" alt="BurialChamber" style="float:right;width:450px;">
        <img src="/assets/Images/Site_boards/Obelisks.png" alt="Obelisk" style="float:right;width:450px;">
      </span>
    </div>
  </div>
</div>
