#userinputfield{
  width: 485px;
  height: 160px;
  position: absolute;
  bottom: 15px;
  right: 0px;
  background-color: whitesmoke;
}
#Ships{
  width: 400px;
  height: 200px;
  position: absolute;
  bottom: 5px;
  left: 450px;
  background-color: inherit;
}
app-ship{
  width: 100%;
}
#playing-field{
  width: 1366px;
  height: 768px;
}
#ship1{
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#ship2{
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 100px;
}
#ship3{
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 200px;
}
#ship4{
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 300px;
}


