<div class="ripple-wrap">
  <img src="/assets/Images/46_underwater_beach_sand_texture-seamless.bmp" height="768" width="1024" onload="WaterCanvas(this)" style="display: none;">
</div>
<div id="playing-field" *ngIf="game">
  <app-site [game]="game"></app-site>
  <div id="Ships">
    <div class="row">
        <div class="col-md-3" *ngFor="let ship of game.gameBoard.availableShips; let i = index;" [dragula]='"first-bag"'>
            <app-ship *ngIf="ship.sailable && game.logicState === 'NORMAL' " id="ship{{i+1}}" class="shipsize{{ship.stones.length}}" [shipIndex]="i" [stones]="ship.stones" [game]="game"></app-ship>
            <app-ship *ngIf="!ship.sailable || game.logicState === 'MARKET'" id="ship{{i+1}}" class="shipsize{{ship.stones.length}} donotdrag" [shipIndex]="i" [stones]="ship.stones" [game]="game"></app-ship>
        </div>
    </div>
  </div>
  <app-userinputfield [game]="game" [dragulaService]="dragulaService" [timerPercentage]="timerPercentage"></app-userinputfield>
</div>

<modal id="fastForwardModal" #fastForwardModal>
  <modal-header><h2 class="text-center">Fast Forward?</h2></modal-header>
  <modal-content>
    <input *ngIf="game" #roundNumber class="center" style="display: block; width: 35%;" type="number" placeholder="Round Number" min="{{this.game.currentRound + 1}}" max="6" value="{{this.game.currentRound + 1}}" >
    <input *ngIf="!game" #roundNumber class="center" style="display: block; width: 35%;" type="number" placeholder="Round Number" min="2" max="6" value="2" ><br>
    <button class="btn-basic center" (click)="fastForward()">Go</button>
  </modal-content>
</modal>

<modal id="MLGModal" #MLGModal>
  <modal-header>
    <h2 *ngIf="MLGCount === 1" class="text-center">Thank you for your Attention</h2>
    <h2 *ngIf="MLGCount !== 1 && MLGCount !== 3 && MLGCount !== 2" class="text-center">U ulocked one of the hidden Features have a 420</h2>
    <h2 *ngIf="MLGCount === 3" class="text-center">Smoke Wheat everi daii</h2>
    <h2 *ngIf="MLGCount === 2" class="text-center">Thank you Rafi, Vale, Robin, Timi, Kim, Nici and Faruk</h2>
  </modal-header>
  <modal-content>
    <img *ngIf="MLGCount === 1" src="/assets/Images/dscf2364(1).jpg" style="width: 100%">
    <div *ngIf="MLGCount === 2" style="width: 100%; font-size: 15px;text-align: center ">
      A very big thanks to our <b>Backend Team</b> that did always support us and coded a very good server for us <br>
      Thank you <b>Faruk</b> very much for always changing to our very special Frontend needs<br>
      Thank you <b>Robin</b> for writing Test with such a patiently and clear manner. And thanks for The Obelisk Monster class <br>
      Thank you <b>Timi</b> for writing Test and classes too and chearing us up. Thank you very much for making the Diagramms for M1 and M2.<br>
      Thanks <b>Rafi</b> for even committing from Israel!<br>
      Thanks <b>Kim</b> for all the Artworks and Photoshop-work!<br>
      Thanks <b>Nici</b> for adding all the useless but funny Eastereggs<br>
      Thanks <b>Vale</b> for beeing the frontend Chief!!<br><br><br>
      Press F for you!!!
    </div>
    <img *ngIf="MLGCount === 3" src="/assets/Images/f48.jpg" style="height: 319px; display: block;margin-left: auto;margin-right: auto  ">
    <img *ngIf="MLGCount > 3" src="/assets/Images/maxresdefault(1).jpg" style="width: 100%">
  </modal-content>
  <modal-footer>
    <button *ngIf="MLGCount === 1" class="btn-basic" (click)="MLGModal.close()" style="display: block;margin-left: auto;margin-right: auto  ">Questions ?!</button>
    <button *ngIf="MLGCount === 2" class="btn-basic" (click)="MLGModal.close()" style="display: block;margin-left: auto;margin-right: auto  ">F</button>
    <button *ngIf="MLGCount !== 1 && MLGCount !== 2" class="btn-basic" (click)="MLGModal.close()" style="display: block;margin-left: auto;margin-right: auto  ">Aight got it broooooo</button>
  </modal-footer>
</modal>

